amqp==2.1.0
anyjson==0.3.3
asgi-redis==1.0.0
asgiref==1.0.0

beautifulsoup4==4.5.1
boto==2.42.0
boto3==1.4.0
botocore==1.4.56
celery==3.1.23
channels==1.0.1
cryptography==1.5.3
daphne==1.0.1
pandas==0.18.1
python-magic==0.4.12  # mac OSX brew install libmagic
tabulate==0.7.5
uWSGI==2.0.14

# Django packages requirements
Django==1.9.11
django-activity-stream==0.6.3
django-bootstrap3==7.1.0
django-classy-tags==0.8
django-celery==3.1.17
django-crispy-forms==1.6.0
django-countries==4.0
django-dirtyfields==1.2
django-environ==0.4.0
django-extensions==1.7.4
django-extra-views==0.8.0
django-filter==0.15.0
django-intercom==0.0.13
django-jsonfield==0.9.15
django-jsonify==0.3.0
django-pandas==0.4.1
django-phonenumber-field==1.1.0
django-redis-cache==1.7.0
django-storages==1.5.1
django-widget-tweaks==1.4.1
djangorestframework==3.4.7
django-js-reverse==0.7.2
django-ipware==1.1.6
django-netfields==0.7
django-user_agents==0.3.0
django-query-builder==0.13.0
validictory==1.0.2
Pillow==3.4.2

GitPython==1.0.1
html5lib==1.0b10
jinja2==2.8
openpyxl==2.4.0
paramiko==2.0.2
psycopg2==2.6.2
pyquery
psutil
pydash==3.4.4
pysftp==0.2.9
py-moneyed==0.6.0
raven==5.31.0
redis==2.10.5
requests==2.11.1
rest-pandas==0.4.1
rules==1.1.1
sendgrid-django==2.0.0
simplejson==3.8.2
pyyaml==3.12
-e git+https://github.com/youbond/pinax-notifications.git@improve_email_sending#egg=pinax-notifications

# Tests requirements
ddt
# can't use dj-inmemorystorage from pypi because this MR is still open (https://github.com/waveaccounting/dj-inmemorystorage/pull/14)
-e git+https://github.com/rfleschenberg/dj-inmemorystorage.git@fix-setup#egg=dj-inmemorystorage
django-webtest
factory-boy
freezegun
pytest
pytest-django
pytest-pep8
pytest-xdist
mock
mock-django
responses
