amqp==2.2.2
asgi-redis==1.4.3
asgiref==1.1.2

beautifulsoup4==4.6.0
celery==3.1.23
channels==1.1.8
daphne==1.3.0
python-magic==0.4.15  # mac OSX brew install libmagic
tabulate==0.8.2
uWSGI==2.0.15

# Django packages requirements
Django==1.11.12
django-bootstrap3==9.1.0
django-classy-tags==0.8
django-celery==3.2.2
django-crispy-forms==1.7.2
django-countries==5.2
django-dirtyfields==1.3.1
django-environ==0.4.4
django-extensions==2.0.6
django-filter==1.1.0
django-intercom==0.0.13
django-jsonify==0.3.0
django-jsonfield-compat==0.4.4
django-phonenumber-field==2.0.0
django-redis-cache==1.7.1
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
django-js-reverse==0.8.1
django-ipware==2.0.1
django-netfields==0.8
django-user_agents==0.3.2
django-query-builder==1.1.0
django-recaptcha==1.4.0
django-otp==0.4.3
validictory==1.1.1
Pillow==5.1.0
scipy==0.19.1
qrcode==6.0

iso8601==0.1.12
isoweek==1.3.3
GitPython==2.1.9
jinja2==2.10
openpyxl==2.4.8
psycopg2==2.7.4
pyquery==1.4.0
pysftp==0.2.9
py-moneyed==0.7.0
raven==6.6.0
redis==2.10.6
requests==2.18.4
rules==1.3
sendgrid-django==4.2.0
pyyaml==3.12
-e git+https://github.com/youbond/pinax-notifications.git@improve_email_sending#egg=pinax-notifications
django-activity-stream==0.6.5
bleach==2.1.3
python-docx==0.8.6  # install libreoffice
docxtpl==0.4.7
django-agent-trust==0.3.1
django-otp-agents==0.3.0
bdateutil==0.1
sortedcontainers==1.5.9
pytracking[django]==0.2.0
geoip2==2.7.0

# Tests requirements
ddt==1.1.2
dj-inmemorystorage==1.4.1
factory-boy==2.10.0
freezegun==0.3.10
django-webtest==1.9.2
pytest==3.5.0
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-pep8==1.0.6
pytest-xdist==1.22.2
mock==2.0.0
mock-django==0.6.10
responses==0.9.0
